#XfceNotifyWindow {
  background: #000000;
  color: #FFA500;
  border: 2px solid #FFA500;
  border-radius: 0;
  padding: 12px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
  color: #FFA500;
}

#XfceNotifyWindow button {
  background: #000000;
  color: #FFA500;
  border: 1px solid #FFA500;
  border-radius: 0;
  box-shadow: none;
  background-image: none;
}

#XfceNotifyWindow button:hover,
#XfceNotifyWindow button:active,
#XfceNotifyWindow button:focus {
  background: #FFA500;
  color: #000000;
  border-color: #FFA500;
  background-image: none;
  box-shadow: none;
}
